.journal-list-wrap {

}

.journal-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.journal-list-wrap__empty {
  text-align: center;
}

.journal-list-item {
  padding: 20px;
  display: block;
}