.button {
  border: none;
  border-radius: 6px;
  padding: 8px 30px;
  width: fit-content;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color .3s;
}

.accent {
  background-color: var(--accent-color);
}

@media (any-hover: hover) {
  .accent:hover {
    background-color: var(--accent-hover-color);
  }
}