.button {
  border: none;
  border-radius: 6px;
  padding: 8px 30px;
  width: fit-content;
  font-family: inherit;
  font-size: 16px;
  color: #ffff;
  cursor: pointer;
  transition: background-color .3s;
}

.accent {
  background-color: #eb6ec1;
}

@media (any-hover: hover) {
  .accent:hover {
    background-color: #f3a8da;
  }
}