.journal-item__header {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  overflow-wrap: anywhere;
}

.journal-item__body {
  display: flex;
  gap: 10px;
  font-size: 16px;
  line-height: normal;
  text-align: left;
  max-width: 100%;
}

.journal-item__date {
  color: var(--decor-color);
}

.journal-item__text {
  color: var(--decor-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.journal-item__tag {
  margin-bottom: 6px;
  color: var(--decor-color);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  overflow-wrap: anywhere;
}