.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.journal-form-input {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 2px 6px;
  transition: border-color .3s;
}

.invalid {
  border-color: red;
  background-color: rgb(251, 236, 236);
}
