.journal-form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.journal-form-input {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.journal-form-input::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  opacity: 0.4;
}

.journal-form-input::-webkit-datetime-edit {
  opacity: 0.4;
}

textarea {
  resize: none;
}

.journal-form-input:focus {
  outline: none;
}

.input-title {
  font-size: 32px;
  font-weight: 600;
}

.invalid::placeholder {
  color: rgb(240, 71, 71);
}

.invalid::-webkit-datetime-edit {
  color: rgb(240, 71, 71);
  opacity: 1;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-small-wrap {
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(91, 90, 90);
  display: flex;
  gap: 80px;
}
