.header {
  margin-bottom: 30px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.logo {
  width: 180px;
  aspect-ratio: 147 / 37;
  align-self: flex-end;
  background-image: var(--logo-img);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
}

.header-activity {
  display: flex;
  gap: 8px;
}

.nav-open-button {
  display: none;
}

@media (any-hover: hover) {
  .nav-open-button:hover {
    background-color: var(--card-hover-color);
  }
}

@media (max-width: 990px) {
  .header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 30px 20px;
    margin: 0;
    width: 100%;
    background-color: var(--background-color);
  }

  .nav-open-button {
    border: 2px solid var(--decor-color);
    padding: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: var(--card-color);
    background-image: var(--menu-img);
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center center;
    cursor: pointer;
    transition: background-color .3s;
  }

  .header.fixed .nav-open-button {
    background-image: var(--close-img);
  }
}