:root {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-width: 360px;
  min-height: 100%;
}

.app {
  padding: 30px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  min-height: 535px;
  height: 100vh;
}

@media (max-width: 990px)  {
  .app {
    padding: 30px 20px;
    min-height: auto;
    height: auto;
  }
}

img {
  display: block;
}